.stats {
    background-color: #f3f6f9;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #ddd;

    & li {
        list-style: none;
        height: 60px;
        display: flex;
        align-items: center;
        border-right: 1px solid #ddd;
        flex-direction: column;
        justify-content: center;
        width: 33.33%;

        &:last-child {
            border-right: none;
        }
    }

    & .label {
        display: block;
        color: #96a2ad;
        font-size: 0.75em;
    }

    & .quantity {
        display: block;
        font-weight: bold;
    }
}
