.item {
    background-color: #fff;
    margin-bottom: 10px;
    box-shadow: 0px 1px 2px #777;
    display: flex;
    align-items: center;

    & .status {
        border-radius: 20px;
        width: 20px;
        height: 20px;
        display: inline-block;
        margin-left: 10px;

        &__online {
            background-color: green;
        }

        &__offline {
            background-color: red;
        }
    }

    & .avatar {
        margin: 10px;
        width: 100px;
        border-radius: 10px;
    }

    & .name {
        font-size: 2em;
    }
}
